<h1 style="text-align: center;">
    Her is a Bunch Of Text Jut for the sake of it
</h1>

<p>
    The Following is the message you gave me up in the url thing:
    <% for(var i=0; i<times ; i++){ %>
    <%=cool%>
    <%}%>
</p>