body {
	margin:20px 12.5%;
	border:20px solid #bdc3c7;
	font-family: 'Source Sans Pro';
	font-weight:600;
	padding:20px;

}
h2 {
	color:#2c3e50;
	font-weight:900;
}
div {
	border-left:3px solid #bdc3c7;

}
.date{
	letter-spacing:2px;
	color:#3498db;
}

/* Flaired edges */

hr.style-three {
height: 30px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
}
hr.style-three:before {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: black;
border-width: 0 0 1px 0;
border-radius: 20px;
}